@font-face {
  font-family: 'Oregano';
  font-style: normal;
  font-weight: 400;
  src: local('Oregano'), local('Oregano-Regular'), url(oregano.woff) format('woff');
}

body{

font-family:"Oregano",Georgia,Serif;
background: url(bg.png);
font-size: 13px;
background-color: #FFFFFF;

}
#tk {

color: #FF1302;
font-size: 20px;

}
.un {
   border-top: 1px solid #000000;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
   background: -webkit-linear-gradient(top, #000000, #000000);
   background: -moz-linear-gradient(top, #000000, #000000);
   background: -ms-linear-gradient(top, #000000, #000000);
   background: -o-linear-gradient(top, #000000, #000000);
   padding: 3px 6px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #f7f7f7;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.un:hover {
   border-top-color: #000000;
   background: #000000;
   color: #ccc;
   }
.un:active {
   border-top-color: #000000;
   background: #000000;
   }
.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 4px 8px;
   -webkit-border-radius: 39px;
   -moz-border-radius: 39px;
   border-radius: 39px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }


.tablebottom{

border-bottom: 1px solid #FFFFFF;

}

.middlebox{

border-bottom: 1px solid #E6E6E6;
border-left: 1px solid #E6E6E6;

}


#chatscreen{

min-width: 400px;
min-height: 300px;
padding-top: 25px;
padding-right: 25px;
padding-bottom: 25px;
padding-left: 40px;
font-family:"Times New Roman",Georgia,Serif;
background-color: #FFFFFF;
font-size: 16px;
width:700px;
height: 450px;
float: left;
overflow: auto;
text-align: left;

}
hr {
  border: 0;
  width: 80%;
}


table {
border-collapse: collapse;
}


td, th {
   border:none;
}

#onlineusers{

font-size:19px;
color: #FFFFFF;
background-color: transparent;
height: 500px;
min-width: 100px;
float: right;

}

a{

text-decoration: none;
color: #FFFFFF;

}

a:hover{

text-decoration: none;
color: #FFFFFF;

}

#messagebox{

background-color: #E8E9E2;

}

#userbox{


height: 20px;

}

#usersbox{

text-align: left;

}

.user{

border-bottom: 1px solid #FFFFFF

}
